@font-face {
    font-family: 'arquitectaw00-boldregular';
    src: url('../fonts/arquitectaw00-bold-webfont.eot');
    src: url('../fonts/arquitectaw00-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arquitectaw00-bold-webfont.woff2') format('woff2'),
         url('../fonts/arquitectaw00-bold-webfont.woff') format('woff'),
         url('../fonts/arquitectaw00-bold-webfont.ttf') format('truetype'),
         url('../fonts/arquitectaw00-bold-webfont.svg#arquitectaw00-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrathairline';
    src: url('../fonts/montserrat-hairline-webfont.eot');
    src: url('../fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-hairline-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-hairline-webfont.woff') format('woff'),
         url('../fonts/montserrat-hairline-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot'),
		 url('../fonts/MyriadPro-Regular.woff') format('woff'),
		 url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
		 url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	height: 100%;
	margin: 0;
}
body {
	font: 13px/22px 'montserratregular', tahoma, helvetica, sans-serif;
	margin: 0;
	min-width: 320px;
	width: 100%;
	color: #575959;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #64c9d3;

}
a:hover {text-decoration: none;}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

/* wrapper */
#wrapper {
	overflow:hidden;
	width: 100%;
	min-height: 100%;
}
.w1 {padding-bottom: 64px;}

/* header */
#header {
	width: 100%;
	padding: 23px 0 24px;
	border-bottom: 1px solid #e0e8eb;
}
#header:after{
	content: '';
	display: block;
	clear: both;
}
#header .logo {
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	margin:0;
}
#header .logo a{
	width: 282px;
	height: 35px;
	background: url(../img/logo.png) no-repeat 0 0;
	display:block;
}

.mobile-logo{
	display: none;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 auto 30px;
	background: url(../img/mobile-logo.png) no-repeat 0 0;
	width: 180px;
	height: 22px;
}
.holder {
	width: 100%;
	max-width: 1315px;
	margin: 0 auto;
}

.about .holder{max-width: 1136px;}

.header-container:after,
.holder:after{
	display: block;
	content: '';
	clear: both;
}

.header-container {	padding: 0 9px 0 17px;}

#nav {
	overflow: hidden;
	float: right;
	padding: 5px 9px 5px 5px;
}

.main-nav {
	overflow: hidden;
}

.main-nav li{
	float: left;
	background: url(../img/sprite.png) no-repeat 0 3px;
	padding: 0 35px;
}

.main-nav li:first-child{
	background: none;
}
.main-nav li:last-child{
	padding: 0 0 0 37px;
}

.main-nav li a{
	font: 20px/22px 'arquitectaw00-boldregular', tahoma, helvetica, sans-serif;
	color: #b9a197;
	-webkit-transition: color .3s linear;
	transition: color .3s linear;
}

.main-nav li.active a,
.main-nav li a:hover {color: #64c9d3;}

.mobile-social {
	overflow: hidden;
}

.mobile-social li{
	float: left;
	margin: 0 5px;
}

.mobile-social li a{
	background: url(../img/sprite.png) no-repeat 0 0;
}

/* content */
#content {
	overflow:hidden;
	width: 100%;
}
.main-box {
	width: 100%;
	max-width: 1315px;
	margin: 0 auto;
	display: -webkit-box;
	display: flex;
  	display: -ms-flexbox;
 	display: -webkit-flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
	padding: 25px 0 0;
}
.box-item {
	-ms-flex-preferred-size: 296px;
	flex-basis: 296px;
	-webkit-flex-basis: 296px;
	width: 296px;
	border-radius: 4px;
	margin-bottom: 35px;
	position: relative;
	z-index: 1;
	top: -40px;
	opacity: 0;
	-webkit-transition: box-shadow .3s linear, top .5s linear, opacity .5s linear;
	-webkit-transition: top .5s linear, opacity .5s linear, -webkit-box-shadow .3s linear;
	transition: top .5s linear, opacity .5s linear, -webkit-box-shadow .3s linear;
	transition: box-shadow .3s linear, top .5s linear, opacity .5s linear;
	transition: box-shadow .3s linear, top .5s linear, opacity .5s linear, -webkit-box-shadow .3s linear;
}
.box-item:hover{
	-webkit-box-shadow: 2px 2px 8px #e1e8eb;
	box-shadow: 2px 2px 8px #e1e8eb;
}

.box-item.show{
	top: 0;
	opacity: 1;
}

.main-box:before,
.main-box:after{
	content: '';
	width: 296px;
	-webkit-box-ordinal-group: 10000;
	-webkit-order: 9999;
	-ms-flex-order: 9999;
	order: 9999;
}

figure{margin: 0;}

.box-item .hold-img{
	display: block;
	position: relative;
	width: 100%;
	max-width: 296px;
	max-height: 230px;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0);
	z-index: 10;
	-webkit-transition: background .3s linear;
	transition: background .3s linear;
}

.eye{
	background: url(../img/sprite.png) no-repeat -2px -59px;
	position: absolute;
	top: -52px;
	left: 50%;
	width: 86px;
	height: 51px;
	z-index: 11;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: top .3s linear;
	transition: top .3s linear;
}

.hold-img img{
	display: block;
	width: 100%;
	height: auto;
}

.box-item .hold-img img{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 2.3s linear;
	-webkit-transition: -webkit-transform 2.3s linear;
	transition: -webkit-transform 2.3s linear;
	transition: transform 2.3s linear;
	transition: transform 2.3s linear, -webkit-transform 2.3s linear;
}

.box-item .hold-img:hover img{
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}
.hold-img:hover .overlay{background: rgba(0,0,0, .5);}
.hold-img:hover .eye{top:50%;}

.description {
	border: 1px solid #e0e8ea;
	padding: 16px 20px 28px;
	position: relative;
	border-radius: 0 0 5px 5px;
}

.description .show-modal {
	font-size: 0;
	position: absolute;
	right: 20px;
	bottom: 8px;
	background: url(../img/sprite.png) no-repeat -86px -25px;
	width: 35px;
	height: 27px;
}

.description .title{
	font: 20px/22px 'montserratregular', tahoma, helvetica, sans-serif;
	color: #2d3030;
	display: block;
	border-bottom: 1px solid #e0e8eb;
	padding-bottom: 9px;
	margin-bottom: 5px;
}

p{
	color: #7c7c7c;
	margin: 0 0 10px;
}

.social-box{
	position: absolute;
	top: 10px;
	right: 13px;
	width: 43px;
	height: 27px;
	background: #fff url(../img/sprite.png) no-repeat 11px -25px;
	border-radius: 12px;
	cursor: pointer;
	z-index: 15;
	-webkit-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

.social-list{
	position: absolute;
	overflow: hidden;
    width: 0;
    height: 27px;
    right: 100%;
    margin-right: -10px;
    left: auto;
	border-radius: 12px 0 0 12px;
	background: #fff;
	overflow: hidden;
	-webkit-transition: width .3s linear;
	transition: width .3s linear;
}

.social-list li{
	float: left;
	margin: 0 10px;
	padding: 4px 0 3px;
	position: relative;
}

.social-list li:last-child:after{
	content: '';
	position: absolute;
	right: -12px;
	top: 6px;
	width: 1px;
	height: 15px;
	background-color: #64c9d3;
}

.social-list li a{
	display: block;
	background: #fff url(../img/sprite.png) no-repeat 0 0;
}
.social-list li a.pinterest{
	width: 18px;
	height: 18px;
	background-position: -33px -29px;
}
.social-list li a.instagram{
	width: 18px;
	height: 18px;
	background-position: -58px -29px;
}
.social-box.open .social-list{
	width: 90px;
}

.main-img {
	width: 100%;
}

.main-img img{
	display: block;
	width: 100%;
	height: auto;
}

.description-box{
	width: 100%;
	min-height: 664px;
	margin-bottom: 7px;
	box-sizing: border-box;
	background: url(../img/img10.jpg) no-repeat 0 0;
	overflow: hidden;
	padding: 40px 30px 80px;
	display: flex;
    align-items: center;
}

.text-container{
	padding: 0 26px;
}

.text-container p{
	font: 25px/30px 'arquitectaw00-boldregular', tahoma, helvetica, sans-serif;
	color: #2d3030;
}

.left-box{
	width: 50%;
	align-self: flex-end;
    margin-bottom: 30px;
}

.right-box{
	width: 50%;
	margin-top: 42px;
}

.right-box .hold-img{
	/*width: 100%;
	/*max-width: 481px;*/
	/*width: 90%;*/
	width: 476px;
	height: 274px;
	border: 2px solid #e6dc3f;
	margin-bottom: 34px;
}

.right-box .hold-img img{
	box-shadow: 0 3px 11px #737373;
	margin: -31px 0 0 28px;
}

.hold-title {
	padding: 0 33px 20px;
}

.hold-title:after{
	content: '';
	display: block;
	width: 164px;
	height: 2px;
	background: #e6dc3f;
	margin-left: -33px;
}

h1,
h2,
h3,
h4{
	font: 40px/44px 'arquitectaw00-boldregular', tahoma, helvetica, sans-serif;
	color: #2d3030;
	margin: 0 0 20px;
}

h2{
	font-size: 36px;
	line-height: 40px;
}

h3{
	font-size: 32px;
	line-height: 36px;
}

h4{
	font-size: 28px;
	line-height: 32px;
}

.contact-box{
	max-width: 650px;
	width: 100%;
	min-height: 607px;
	position: absolute;
	top: 65%;
	left: 50%;
	background: #fff;
	z-index: 1;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.contact-box .hold-form{
	padding: 51px 39px;
	box-sizing: border-box;
}

.contact-box .hold-form .title{
	font: 20px/24px 'arquitectaw00-boldregular', tahoma, helvetica, sans-serif;
	text-transform: uppercase;
	display: block;
	margin-bottom: 6px;
	margin-left: -5px;
}
.contact-box .hold-form p{
	font: 16px/18px 'montserrathairline', tahoma, helvetica, sans-serif;
	color: #595a5a;
	margin-bottom: 28px;
}

.contact-box h1{margin-bottom: 13px;}

.contact-box .hold-form label{
	color: #595a5a;
}

.contact-box .hold-form input,
.contact-box .hold-form textarea{
	border-color: #000;
	color: #64c9d3;
}

.contact-box .hold-checkbox label{color: #64c9d3;}
.contact-box .hold-checkbox input ~ span:before{border: 1px solid #2d3030;}
.contact-box .hold-checkbox input:checked ~ span:before {
	background: url(../img/sprite.png) no-repeat -185px -33px;
}

.follow-container{
	float: right;
}

.box{
	text-align: center;
	margin-bottom: 20px;
}

.box a{
	display: inline-block;
	vertical-align: top;
	background: url(../img/sprite.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	margin: 0 4px;
}

.box a.pinterest{background-position: -171px -74px}
.box a.instagram{background-position: -193px -74px}

.box .text{
	font-size: 12px;
	line-height: 15px;
	color: #2d3030;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
}

.box:last-child .text{margin-bottom: 13px;}

.box .address,
.box .phone{
	font: 12px/12px 'montserratlight', tahoma, helvetica, sans-serif;
	color: #2d3030;
	display: block;
	margin-bottom: 10px;
	background: none;
	width: inherit;
	height: inherit;
	position: relative;
	margin: 0 0 7px;
}

.box .address:before,
.box .phone:before{
	content: '';
	width: 13px;
	height: 13px;
	position: absolute;
	top: 0px;
	left: -18px;
	background: url(../img/sprite.png) no-repeat 0 0;

}

.box .address:before{background-position: -234px -78px;}
.box .phone:before{background-position: -217px -78px;}


/* footer */
#footer {
	overflow:hidden;
	width:100%;
	padding: 11px 0 2px;
	position:relative;
	height: 50px;
	margin-top: -64px;
	border-top: 1px solid #e0e8eb;
}

#footer .holder {
	padding: 0 15px;
	box-sizing: border-box;
}

.hold-terms{
	float: left;
	padding: 13px 0;
	width: 80%;
}
.hold-terms p{
	font: 13px/15px 'Conv_MyriadPro-Regular', tahoma, helvetica, sans-serif;
	color: #2d3030; 
}
.big-social {
	float: right;
	overflow: hidden;
	padding: 4px 0;
}

.big-social li {
	float: left;
	margin: 0 0 0 19px;
}

.big-social li a{
	display: block;
	font-size: 0;
	background: #fff url(../img/sprite.png) no-repeat 0 0;
	width: 33px;
	height: 33px;
}

.big-social li a.pinterest {
	background-position: -134px -67px;
}

.big-social li a.instagram {
	background-position: -96px -67px;
}

.spinner {
    margin: 0 auto 30px;
    width: 120px;
    text-align: center;
    visibility: hidden;
}
.spinner.show{visibility: visible;}
.spinner .ball1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner div {
    width: 12px;
    height: 12px;
    background-color: #febd25;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .ball2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.loading {
	display: block;
	color: #222222;
	line-height: 18px;
}

.modal{
	background: #585858;
	width: 610px;
	padding: 32px 33px 25px;
	position: fixed;
	top: -300%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 555;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 12px #000;
	box-shadow: 0 0 12px #000;
	-webkit-transition: top .5s ease-in-out;
	transition: top .5s ease-in-out;

}
.modal.show {top: 50%;}
.modal .close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 40px;
	height: 40px;
	background: url(../img/sprite.png) no-repeat -123px -19px;
}

.modal .title{
	font: 43px/45px 'montserratregular', tahoma, helvetica, sans-serif;
	display: block;
	margin-bottom: 28px;
	color: #fff;
}

.modal p {
	margin-bottom: 37px;
	color: #fff;
}

.modal-body {
	padding: 4px 6px;
}

#full-img {
	padding: 0;
	width: 676px;
}

#full-img .modal-body{
	padding: 0;
	border-radius: 6px;
    overflow: hidden;
}

#full-img .modal-body img{
	display: block;
	width: 100%;
	height: auto;
}

.hold-form {
	overflow: hidden;
	width: 100%;
}

.element-form-box{
	float: left;
	width: 60%;
	
}

.element-form-box .item{
	margin-bottom: 22px;
	width: 100%;
	position: relative;
}
.element-form-box .item:last-child{margin-bottom: 12px;}
.element-form-box .item:last-child label{margin-bottom: 15px;}

.hold-form label{
	font: 12px/14px 'montserrathairline', tahoma, helvetica, sans-serif;
	color: #8d8d8d;
	display: block;
	padding: 0 2px;
	margin-bottom: 9px;
}

.hold-form input,
.hold-form textarea{
	font: 13px/15px 'montserratregular', tahoma, helvetica, sans-serif;
	color: #fff;
	border: 0;
	background: none;
	outline: none;
	outline: 0;
	border-bottom: 1px solid #696969;
	padding: 3px 6px 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hold-form textarea{
	border: 1px solid #696969;
	border-radius: 2px;
	min-height: 114px !important;
	width: 100%;
	max-width: 422px !important;
	padding: 5px 10px;
}
.hold-form input.error,
.hold-form textarea.error{border-color: #c8232c;}

.hold-form label.error{
	position: absolute;
	color: #c8232c;
	font: 12px/14px 'montserratregular', tahoma, helvetica, sans-serif;
	margin: 0;
}

.hold-form textarea + label.error{bottom: -22px;}

.hold-form .wrap{
	overflow: hidden;
	width: 100%;
}

.modal .hold-img{
	float: right;
	width: 100%;
	max-width: 189px;
	height: 259px;
	margin: 20px auto 0;
	overflow: hidden;
	border-radius: 9px;
}

.modal .hold-img img{
	display: inline;
	width: auto;
	height: 100%;
}

button[type="submit"] {
	width: 114px;
	background: #dbc974;
	font: 13px/15px 'montserratregular', tahoma, helvetica, sans-serif;
	outline: none;
	outline: 0;
	border: none;
	color: #fff;
	border-radius: 6px;
	padding: 10px 0 11px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: color .3s. linear;
	-webkit-transition: color .3s linear;
	transition: color .3s linear;
}

.hold-btn {
	width: 100%;
}

button[type="submit"]:hover{
	color: #585858;
}

.hold-checkbox{
	cursor:pointer;
	display: block;
	margin-bottom: 22px;
	position: relative;
}

.hold-checkbox label{
	font: 12px/15px 'montserratregular', tahoma, helvetica, sans-serif;
	color: #fff;
	cursor: pointer;
}
.hold-checkbox label.error{bottom: -14px;}

.hold-checkbox input{
	position: absolute;
	left: -9999px;
}

.hold-checkbox input ~ span:before {
	content:'';
	height: 13px;
	width: 13px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	float: left;
	border: 1px solid #696969;
	border-radius:2px;
	margin-right: 8px;
}

.hold-checkbox input:checked ~ span:before {
	background: url(../img/sprite.png) no-repeat -169px -33px;
}

.toggle-menu {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    left: -100%;
    width: 47px;
    height: 47px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background .3s linear, left .3s linear;
    transition: background .3s linear, left .3s linear;
    background: none;
    z-index: 110;
}

.toggle-menu:focus {
    outline: none;
}

.toggle-menu span {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 7px;
    border-radius: 10px;
    background: #56c8d3;
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
}

.toggle-menu span::before,
.toggle-menu span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: #56c8d3;
    content: "";
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
}

.toggle-menu span::before {
    top: -14px;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, -webkit-transform;
    transition-property: top, transform;
    transition-property: top, transform, -webkit-transform;
}

.toggle-menu span::after {
    bottom: -14px;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
}

.toggle-menu.active span {
    background: none;
}

.toggle-menu.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-menu.active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-menu.active span::before,
.toggle-menu.active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
}

/* media queries */
@media (max-width: 1100px) {
	.right-box .hold-img{
		width: 400px;
    	height: 225px;
	}
	.hold-terms{padding: 0;}
}
@media (max-width: 920px) {
	.right-box .hold-img{
		width: 320px;
    	height: 178px;
    	margin: 0 auto 25px;
	}
}
@media (max-width: 760px) {
	.description-box{
		flex-direction: column;
		padding-bottom: 40px;
	}
	.right-box,
	.left-box{width: 100%;}
	.left-box{margin-bottom: 10px;}
	h1{margin-bottom: 10px;}
	.hold-title{padding-bottom: 10;}
	.text-container{padding: 0;}
	.text-container p{
		font-size: 22px;
		line-height: 26px;
	}
	.right-box .hold-img{
		width: 320px;
    	height: 178px;
    	margin: 0 auto 25px;
	}
	.contact-box .element-form-box{
		float: left;
		width: 70%;
	}
}
@media (max-width: 720px) {
	.header-container{padding: 0 15px;}
	#header{
		position: fixed;
		z-index: 10;
		background: #fff;
	}
	#content{padding-top: 82px; }
	#header .logo{
		float: none;
		width: 282px;
		display: block;
		margin: 0 auto;
	}
	.toggle-menu{
		left: 10px;
	}
	.toggle-menu.active{left: 360px;}
	.mobile-logo{display: block;}
	#nav{
		position: fixed;
		left: -100%;
		-webkit-transition: left .3s linear;
		transition: left .3s linear;
		width: 320px;
		background: #333333;
		top: 0;
		bottom: 0;
		z-index: 100;
		padding: 29px 18px;
	}

	#header.open #nav {
		left: 0;
	}

	.main-nav{
		width: 100%;
		margin-bottom: 10px;
	}

	.main-nav li{
		float: none;
		width: 40%;
		border-bottom: 1px solid #fff;
		background: none;
		padding: 0;
		margin-bottom: 10px;
	}
	.main-nav li:last-child{padding: 0;}

	.main-nav li a {
		font: 22px/24px 'arquitectaw00-boldregular', tahoma, helvetica, sans-serif;
		color: #fff;
		padding: 5px 0;
		display: block;
	}

	.modal,
	#full-img{width: 70%;}
	#contact-form .hold-img,
	.element-form-box{
		float: none;
		width: 100%
	}

	#contact-form .hold-img{
		margin-bottom: 10px;
		max-width: 176px;
    	height: 140px;
		margin: 0 auto 20px;
	}
	.modal .title{
		font-size: 32px;
		line-height: 36px;
		text-align: center;
	}
	.hold-form textarea{max-width: 99%;}
	.modal.show {top: 60%;}
	.contact-box .hold-form{padding: 30px 15px;}
}

@media (max-width: 610px) {
	.w1 {padding-bottom: 110px;}
	#footer{
		height: 110px;
		padding-top: 5px;
		margin-top: -110px;
	}
	.hold-terms {
		float: none;
		width: 100%;
		text-align: center;
	}
	.hold-terms a {display: block;}
	.big-social{
		float: none;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.big-social li{
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 10px;
	}

}

@media (max-width: 425px) {

	.toggle-menu {
	    width: 38px;
	    height: 38px;
	}

	.toggle-menu span {
	    top: 12px;
	    left: 0;
	    right: 0;
	    height: 7px;
	}

	.toggle-menu span::before,
	.toggle-menu span::after {
	    height: 7px;
	}

	.toggle-menu span::before {
	    top: -12px;
	}

	.toggle-menu span::after {
	    bottom: -12px;
	}
	.modal{
		padding: 15px 15px 15px;
		width: 82%;
	}
	.element-form-box .item{margin-bottom: 15px;}
	.modal .title{margin-bottom: 12px;}
	.hold-form textarea{min-height: 70px !important;}
	#full-img {width: 90%;}
	.right-box .hold-img{
		width: 250px;
    	height: 135px;
	}
	.contact-box{min-height: 550px;}
	.contact-box h1{
		font-size: 28px;
		line-height: 32px;
		text-align: center;
	}
	.contact-box .hold-form .title{
		margin: 0 0 5px;
		text-align: center; 
	}
	.contact-box .hold-form p {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
	}
	.follow-container,
	.contact-box .element-form-box{
		float: none;
		width: 100%;
	}
	.box{margin-bottom: 10px;}
	.box .address,
	.box .phone{
		width: 100px;
		margin: 0 auto 7px;
	}
	.box .address:before,
	.box .phone:before{left: -12px;}

}

@media (max-width: 400px) {
	#header .logo a{
		background-size: 80% 80%;
		background-position: 50% 50%;
	}

	.toggle-menu.active{left: 282px;}
	.toggle-menu {
	    width: 32px;
	    height: 32px;
	}

	.toggle-menu span {
	    top: 10px;
	    left: 0;
	    right: 0;
	    height: 5px;
	}

	.toggle-menu span::before,
	.toggle-menu span::after {
	    height: 5px;
	}

	.toggle-menu span::before {
	    top: -10px;
	}

	.toggle-menu span::after {
	    bottom: -10px;
	}
	#nav{
		width: 284px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	#terms p {
		margin-bottom: 10px;
		font-size: 11px;
		line-height: 13px;
	}
	.modal-body{padding: 0;}
	.modal {
	    padding: 10px;
	    width: 86%;
	}
}

@media (max-width: 320px) {
	.modal .title {
	    font-size: 20px;
	    line-height: 22px;
	}
	.hold-form label{margin-bottom: 5px;}
	.element-form-box .item:last-child label {
	    margin-bottom: 5px;
	}
	#contact-form .hold-img{
		margin-bottom: 12px;
		max-width: 130px;
    	height: 100px;
	}
	.hold-checkbox{margin-bottom: 15px;}
	.right-box .hold-img img{margin: -28px 0 0 21px;}
	.right-box .hold-img{
		width: 220px;
    	height: 115px;
	}
	.description-box{padding: 30px 15px 25px;}
	.hold-form textarea + label.error {bottom: -15px;}
	.contact-box{top: 75%;}
	#footer .holder {padding: 0 9px;}
}
